# file: mysql/tasks/configure.yml

- name: MySQL | Ensure datadir exists
  file: path={{mysql_datadir}} state=directory owner=mysql group=mysql

- name: MySQL | Ensure tmpdir exists
  file: path={{mysql_tmpdir}} state=directory owner=mysql group=mysql

- name: MySQL | Update the my.cnf
  template:
    src: etc_mysql_my.cnf.j2
    dest: /etc/mysql/my.cnf
    owner: root
    group: root
    mode: 0644
  notify:
    - restart mysql
