# file: mysql/tasks/configure.yml

- name: check if apparmor has been disabled
  stat: /etc/apparmor.d/disable/usr.sbin.mysqld
  register: appcheck

- name: Disable apparmor step 1
  shell: ln -s /etc/apparmor.d/usr.sbin.mysqld /etc/apparmor.d/disable/
  when: appcheck.stat.exists == false

- name: Disable apparmor step 2
  shell: apparmor_parser -R /etc/apparmor.d/usr.sbin.mysqld
  when: appcheck.stat.exists == false

- name: Check if the datadir is already present
  stat: path={{mysql_datadir}}
  register: dcheck

- name: MySQL | move /var/lib/mysql if datadir is different
  command: mv /var/lib/mysql {{mysql_datadir}}
  when: mysql_datadir !== "/var/lib/mysql" and dcheck.stat.exists == false

- name: MySQL | Ensure tmpdir exists
  file: path={{mysql_tmpdir}} state=directory owner=mysql group=mysql

- name: MySQL | Update the my.cnf
  template:
    src: etc_mysql_my.cnf.j2
    dest: /etc/mysql/my.cnf
    owner: root
    group: root
    mode: 0644
  notify:
    - restart mysql
